.input-add-task {
  width: 100%;
  justify-content: center;
  padding: 0.6em;
  margin-right: 5px;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.container-add-task {
  display: flex;
  margin: auto;
}
